<footer class="footer2">
    <div class="footer2__container container grid">
        <div class="footer2__data">

            <div class="newsletter">
                <h3>Subscribe to our Newsletter</h3>
                <form
                method="POST"
                action="https://script.google.com/macros/s/AKfycby650KEh2Fk057UvbP1u__Z4u9WHykLvVGPdwW8a7EbOK7FfBtD4w6KvSp0RpkyvpX0/exec"
                id="myform"
                >   
                    <div class="newsletter_container container grid">
                        <div>
                            <input name="Name" type="text" placeholder="Enter your Name">
                        </div>
                        <div>
                            <input name="Email" type="email" placeholder="Enter your Email">
                        </div>
                        <div>
                            <button type="submit" class="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="social-media">
                <h3>Follow us</h3>
                <div class="SM__links container">
                    <a href="https://www.facebook.com/youthclimateconnect"><img src="/img/facebook-circle-fill.svg" alt="Facebook"></a>
                <a href="https://twitter.com/Youth_Climate_C"><img src="/img/twitter-x-line.svg" alt="Twitter"></a>
                <a href="https://www.instagram.com/youthclimate_connect"><img src="/img/instagram-fill.svg" alt="Instagram"></a>
                <a href="https://www.linkedin.com/company/yc-c/"><img src="/img/linkedin-box-fill.svg" alt="Linkedin"></a>
                </div>
                
            </div>

            <div class="quick-links container">
                <div class="quick__links container">
                    <ul>
                        <li><a href="/aboutus/">About</a></li>
                        <li><a href="/getinvolved/">Get Involved</a></li>
                        <li><a href="/blog/">Blogs</a></li>
                        <li><a href="/donate/">Donate</a></li>
                        <li><a href="/contactus/">Contact Us</a></li>
                        <li><a href="https://linktr.ee/youthclimateconnect">Stay Connected</a></li>
                    </ul>
                </div>
                <h4>
                    Copyright © Youth-Climate Connect
                </h4>
                
            </div>
        </div>
    </div>
    
</footer>

      <!--========== SCROLL UP ==========-->
      <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
      </a>

      <!--=============== SCROLLREVEAL ===============-->
      <script src="js/scrollreveal.min.js"></script>

      <!--=============== MAIN JS ===============-->
      <script src="js/main.js"></script>