---
title: "Contact us"
layout: 'base.njk'
style: /css/contactus.css
---

      <main class="main">
         <!--==================== HOME ====================-->
         <section class="home section" id="home">
            <img src="/img/donate.jpg" alt="home image" class="home__bg">
            <div class="home__shadow"></div>

            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__title">
                        Contact Us
                    </h1>
                </div>
            </div>
         </section>

         <!--==================== Section1 ====================-->
         <section class="Section1 section" id="Section1">
            <div class="Section1__container container grid">
                <div class="Section1__data">

                    <h1 class="Section1__title">
                        Let’s get in touch!
                    </h1>

                    <p class="Section1__text">
                        Whether you're interested in collaborative projects, educational initiatives, or just want to say hello, we’d love to hear from you.
                    </p>

                    <div class="Section1__bullets">
                        <p class="Section1__bullet1">
                            <i class="ri-mail-line"></i> <b>Email</b> Youthclimateconnect@outlook.com
                        </p>
    
                        <p class="Section1__bullet2">
                            <i class="ri-phone-line"></i> <b>Phone</b> +201553009428
                        </p>
                    </div>
                             
                </div>
                <div class="contactform">
                    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xgegwrly" method="post">
                        <fieldset id="fs-frm-inputs">
                          <label for="full-name">Full Name</label>
                          <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
                          <label for="email-address">Email Address</label>
                          <input type="email" name="_replyto" id="email-address" placeholder="email@domain.com" required="">
                          <label for="message">Message</label>
                          <textarea rows="5" name="message" id="message" placeholder="Message" required=""></textarea>
                          <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
                        </fieldset>
                        <input type="submit" value="Submit"target="_blank">
                    </form>
                </div>
                
            </div>
         </section>
      </main>
