---
title: 'Donate'
layout: 'base.njk'
style: /css/donate.css
---

      <main class="main">
         <!--==================== HOME ====================-->
         <section class="home section" id="home">
            <img src="/img/donate.jpg" alt="home image" class="home__bg">
            <div class="home__shadow"></div>

            <div class="home__container container grid">
                <div class="home__data">
                    <h1 class="home__title">
                        Donate Now
                    </h1>
                    <h2 class="home__subtitle">
                        Help Youth Fight The Climate Crisis
                    </h2>
                </div>
            </div>
         </section>

         <!--==================== Section1 ====================-->
         <section class="Section1 section" id="Section1">
            <div class="Section1__container container grid">

                <div class="Section1__image">
                    <script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/youthclimate-connect-campaign" name="donorbox" allowpaymentrequest="allowpaymentrequest" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe>
                </div>

                <div class="Section1__data">
                    <div class="Section1__image">
                        <img src="/img/10.jpg" alt="Secion1 image" class="Section1__img">
                    </div>
                    <div class="Section1__image-Attribution">
                        <a href="https://www.freepik.com/free-photo/asian-girl-holding-plant-soil_5598508.htm#page=2&query=young%20person%20planting%20the%20tree&position=30&from_view=search&track=ais&uuid=73d262a3-c4b2-4a64-89da-8c58a7c3bb8c">Image by jcomp</a> on Freepik
                    </div>

            
                    <h2 class="Section1__title">
                        YCC supports youth-led climate action, empowering young people everywhere, for a better future.                    </h2>

                    <p class="Section1__text">
                        That means a donation to YouthClimate Connect could help a young leader in Khartoum launch a green entrepreneurship project, or fund a climate education workshop for a schoolgirl in Dhaka. Or, your gift could sponsor a youth delegate to attend the COP28 summit, and advocate for climate justice on the global stage.

                        No matter who you are, we believe that youth have the potential to make a difference in the climate crisis. When you give a gift to YouthClimate Connect, you help us support youth initiatives that are innovative and impactful.

                    <div class="Section1__buttons">
                        <a href="/aboutus.html" class="Section1__button-boxed">
                            Learn More
    
                        </a>
                        <a href="/getinvolved.html" class="Section1__button-unboxed">
                            Get Involved <i class="ri-arrow-right-s-line"></i>
                        </a>
                    </div>           
                </div>
            </div>
         </section>

         <!--==================== footer1 ====================-->
         <section class="footer1 section" id="footer1">
            <img src="/img/17.jpg" alt="footer1 image" class="footer1__bg">
            <div class="footer1__container container grid">
                <div class="footer1__data">

                    <h1 class="footer1__title">
                        Ready to make a difference?
                    </h1>

                    <p class="footer1__text">
                        Join hands with Youth-Climate Connect, Together, we can explore transformative ideas, implement sustainable practices, and inspire the youth to lead the charge in mitigating climate change. Whether you're interested in collaborative projects, educational initiatives, or advocacy campaigns, Youth-Climate Connect is your partner in shaping a greener, more sustainable world for generations to come.
                    </p>       

                </div>
                <a href="/contactus.html" class="footer1__button">
                    GET IN TOUCH
                </a>   
            </div>
         </section>
         
         
      </main>
